body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/calibre-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.pagination-center{text-align:center;}

.synopse.book-cover{min-height: 300px;}

@media (max-width: 767px){
.synopse.book-convert, .synopse.book-delete, .synopse.book-edit{margin: 0 0 5px 0px;}
.search-input{position: absolute;top: 45px;}
.icon-search{margin-top: 5px;float: right;}
.search-results
{
	position: absolute;
top: 140px;
left: 3px;
display: block;
background: #FFF;
width: 350px;
border: 1px solid;
border-width: 1px;
border-color: #bbb;
}
}


@media (max-width: 979px) and (min-width: 768px){
.synopse.book-convert, .synopse.book-delete, .synopse.book-edit{margin: 0 0 5px 20px;}
.search-input{position: absolute;top: 45px;}
.icon-search{margin-top: 5px;float: right;}
.search-results
{position: absolute;
top: 140px;
left: 340px;
display: block;
background: #FFF;
width: 400px;
border: 1px solid;
border-width: 1px;
border-color: #bbb;}
}
@media (min-width: 979px) {
.synopse.book-convert, .synopse.book-delete, .synopse.book-edit{margin: 0 0 5px 20px;}
.search-input{position: absolute;top: 5px;}
.icon-search{margin-top: 15px;float: right;}
.search-results{
position: absolute;
top: 45px;
left: 568px;
display: block;
background: #FFF;
width: 400px;
border: 1px solid;
border-width: 1px;
border-color: #bbb;}
}

@media (min-width: 1200px) {
.synopse.book-convert, .synopse.book-delete, .synopse.book-edit{margin: 0 0 5px 30px;}
.search-input{position: absolute;top: 5px;}
.icon-search{margin-top: 15px;float: right;}
.search-results{
position: absolute;
top: 45px;
left: 568px;
display: block;
background: #FFF;
width: 400px;
border: 1px solid;
border-width: 1px;
border-color: #bbb;}
}


.file-input-wrapper.btn{margin-bottom: 5px;}



.search{float: right;width: 270px;min-height: 30px;}
#element{min-height:300px;}
#container.grid{margin-left:15%}
#container-search{margin-left:15%}
.novisible{display:none}
