<?php
// module/Book/view/book/book/add.phtml:

$title = 'Add new book';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('book', array('action' => 'add')));


$form->prepare();
 
 $fileElement = $form->get('fileupload'); 
         /*echo $this->formLabel($fileElement); 
         echo $this->formFile($fileElement); 
         echo $this->formElementErrors($fileElement); */


?>
<div id="container-search" class="span10 novisible"></div>
<div id="container" class="span10">
<?php

 echo $this->form()->openTag($form);
 echo '<div class="form-element">';
     echo '<label>Upload ebook</label>';
     echo $this->formFile($fileElement); 
     if ($this->formelementerrors($fileElement)!=""){
         echo '<div class="alert alert-error">'.$this->formelementerrors($fileElement).'</div>';
     }
 echo '</div>';
 echo '<button id="btn-add-book" class="btn btn-primary">Add</button>';
 echo $this->form()->closeTag();
?></div>