<?php
// module/Book/view/book/book/edit.phtml:
$title = 'Edit book';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
$form = $this->form;
$form->prepare();

$id=$form->get('id');


$title = $form->get('title');


$synopsis=$form->get('synopsis');

$cover=$form->get('cover');

?>
<div id="container-search" class="span10 novisible"></div>
<div id="container" class="span10">
<?php

echo $this->form()->openTag($form);
echo '<div class="form-element">';
echo $this->formhidden($id);

echo '<label>Cover</label>';
echo $this->formfile($cover);
if ($this->formelementerrors($cover)!=""){
	echo '<div class="alert alert-error">'.$this->formelementerrors($cover).'</div>';
}

echo '<label>Title</label>';
echo $this->formtext($title);
if ($this->formelementerrors($title)!=""){
	echo '<div class="alert alert-error">'.$this->formelementerrors($title).'</div>';
}

echo '<label>Synopsis</label>';
echo $this->formTextarea($synopsis);
if ($this->formelementerrors($synopsis)!=""){
	echo '<div class="alert alert-error">'.$this->formelementerrors($synopsis).'</div>';
}

echo "</div>";
echo'<button class="btn btn-primary" >Save</button>';
echo $this->form()->closeTag();?>
</div>
