<?php
// module/Book/view/book/book/index.phtml:



$title = 'My books';
$this->headTitle($title);


?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('book', array('action'=>'add'));?>">Add new book</a>
</p>
<div id="container-search" class="span10 novisible"></div>
<div id="container" class="grid span10">
<div class="span10">
<?php 
	  foreach ($books as $book) : 
	  ?>
	  
	<div id="element" class="span2">
	    <div class="span2"><a href="<?php echo $this->url('book',array('action'=>'showbookinfo', 'id' => $book->id));?>"><img src="<?php echo $this->url('book',array('action'=>'getbookthubnail', 'id' => $book->id));?>" class="img-rounded" /></a></div>
	    <div class="span2"><a href="<?php echo $this->url('book',array('action'=>'showbookinfo', 'id' => $book->id));?>"><?php echo $book->title;?></a></div>
	    <div class="span2"><?php echo $this->escapeHtml($book->author_sort);?></div>
	    <div class="span2"><?php 	foreach ($datas as $data):
					     if ($data->book==$book->id)
						 { 
					    	echo '<a href="'.$this->url('book',array('action'=>'downloadbook', 'id' => $book->id,'type'=> $data->format,)).'" target="_BLANK" >'.$this->escapeHtml($data->format)."</a> ";
					     } 
					endforeach; ?></div>
	</div>

<?php 	
		
		endforeach; ?>
		
     </div>
		<div class="pagination pagination-center">
          <ul>
            <li <?php if ($pagination['numpag']=='1'){ echo "class=disabled"; } ?>><a href="<?php if ($pagination['numpag']=='1') echo "#"; else echo $this->url('book',array('action'=>'index', 'id' => ($pagination['numpag']-1))); ?>">Prev</a></li>
            <?php 
            for ($i=1;$i<=$pagination['totalpag'];$i++)
            {
                    if ($i!=$pagination['numpag'])
                    {
                       echo '<li><a href="'. $this->url('book',array('action'=>'index', 'id' => $i)).'">'.$i.'</a></li>';
                    }else{
               	       echo '<li class="disabled"><a href="#">'.$i.'</a></li>';
                    }
            }
            ?>
            <li <?php if ($pagination['numpag']==$pagination['totalpag']) echo "class=disabled";  ?>><a href="<?php if ($pagination['numpag']==$pagination['totalpag']) echo "#"; else echo $this->url('book',array('action'=>'index', 'id' => ($pagination['numpag']+1))); ?>">Next</a></li>
          </ul>
        </div>

</div>

