<?php
// module/Book/view/book/book/showbookinfo.phtml:



$title = 'My books';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<div id="container-search" class="span10 novisible"></div>
<div id="container" class="span12">
    <div class="row">
    <div class="synopse book-cover span4"><img src="<?php echo $this->url('book',array('action'=>'getbookcover', 'id' => $book->id));?>" class="img-rounded"/></div>
    <div class="synopse book-title span7"><h3><?php echo $book->title;?></h3></div>
    <div class="span8">
    <div class="synopse book-author span2"><p><?php echo $author;?></p></div>
    <div class="synopse book-series span2"><p><?php
        if ($series!="" ){
     	    echo $series."[".(int)$book->series_index."]";
     	}
     	?></p></div>
    <div class="synopse book-pubdate span2"><p><?php 	echo substr ($book->pubdate,0,10);?></div>
    <div class="synopse book-author span1"><p><?php echo $lang;?></p></div>
    
    </div>
    <div class="span8">
        <div class="synopse book-tags span2"><p><?php 	
                        foreach ($tags as $tag):
        				    	echo $this->escapeHtml($tag->name)." ";
        				endforeach;?></p></div>
        <div class="synopse book-formats span2"><p><?php 	
                        foreach ($datas as $data):
        				    	echo '<a href="'.$this->url('book',array('action'=>'downloadbook', 'id' => $book->id,'type'=> $data->format,)).'" target="_BLANK" >'.$this->escapeHtml($data->format)."</a> ";
                                $dataarray[]=$data->format;
        				endforeach; ?></p>
        </div>
    
        <div class="synopse book-convert span2">
    	<?php if (!in_array('MOBI',$dataarray) || !in_array('EPUB',$dataarray) || !in_array('FB2',$dataarray) || !in_array('AZW3',$dataarray) ) { ?>			
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
            Convert to    <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <?php 
               if (!in_array('MOBI',$dataarray))
                    echo '<li><a href="'.$this->url('book',array('action'=>'convertbook', 'id' => $book->id, 'type' => 'MOBI')).'">Mobi</a></li>';
               if (!in_array('EPUB',$dataarray))
                    echo '<li><a href="'.$this->url('book',array('action'=>'convertbook', 'id' => $book->id, 'type' => 'EPUB')).'">Epub</a></li>';
               if (!in_array('FB2',$dataarray))
                    echo '<li><a href="'.$this->url('book',array('action'=>'convertbook', 'id' => $book->id, 'type' => 'FB2')).'">Fb2</a></li>';
               if (!in_array('AZW3',$dataarray))
                    echo '<li><a href="'.$this->url('book',array('action'=>'convertbook', 'id' => $book->id, 'type' => 'AZW3')).'">AZW3</a></li>';
               ?>
          </ul>
        </div>
        <?php } ?>
        </div>
    </div>
    <div class="span8">
        <div class="synopse book-edit span2">
                    <a href="<?php echo $this->url('book',
                    array('action'=>'edit', 'id' => $book->id));?>" class="btn btn-info">Edit</a>
        </div>
        <div class="synopse book-delete span2">
                    <a href="<?php echo $this->url('book',
                    array('action'=>'delete', 'id' => $book->id));?>" id="delete" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <div class="synopse book-comments span7 well"><p><?php  echo $comment->text;?></p></div>
    
    </div>
</div>
